body {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  background: #095c7a;
  border-radius: 20px;
  font-size: 150px;
  text-align: center;
}
div {
  animation-name: name;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin: 20px;
  color: #ffffff;
  background: #0e8dbc;
}
@keyframes name {
  from,
  to {
    box-shadow: 0 0 40px 0 red;
    color: fuchsia;
  }
  16% {
    box-shadow: 0 0 40px 0 yellow;
    color: blue;
  }
  32% {
    box-shadow: 0 0 40px 0 green;
    color: aqua;
  }
  48% {
    box-shadow: 0 0 40px 0 aqua;
    color: green;
  }
  64% {
    box-shadow: 0 0 40px 0 blue;
    color: yellow;
  }
  80% {
    box-shadow: 0 0 40px 0 fuchsia;
    color: red;
  }
}
head6 {
  font-size: 10px;
}
divhi {
  font-size: medium;
}
[hi] {
  font-size: 30px;
}
